
.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	height: 500px;
	border: 1px solid #000;
	text-align: center;
	background-color: #d3ffc6;
	border-radius: 10%;
}

h1 {
	font-size: 30px;
	color: #076b35;
}

h2 {
	color: #51aa4b;
}